* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links label,
.links .cv {
    max-width: 10%;
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #ffffff;
    user-select: none;
    text-decoration: none;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 1.2rem;
    font-weight: bold;
}
.links label:hover,
.links .cv:hover {
    background-color: #ffffff33;
}
.links .cv:visited{
    color: #ffffff;
}

.scroll {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.scroll input {
    display: none;
}
.scroll .sections {
    transition:  all .4s;
}
.scroll .sections .content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* "Home" section */
.scroll .sections .content .divs {
    display: flex;
    font-family: 'Baloo Thambi 2', cursive;
    color: #cd5b5b;
    font-size: 3rem;
    font-weight: bold;
}
/* "Home" > "|" animation */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.scroll .sections .content .divs .div2,
.scroll .sections .content .divs .div4 {
    opacity: 1;
    animation: blink .7s infinite;
}


/* "About" section */
.scroll .sections .content > h1 {
    font-family: 'Baloo Thambi 2', cursive;
    color: #ffffff;
    font-size: 2rem;
}
.scroll .sections .content .about-container {
    display: grid;
    grid: repeat(2, 100px) / auto-flow;
}
.scroll .sections .content .dci-logo .dci-img {
    width: 300px;
    align-items: center;
    justify-content: center;
}
.scroll .sections .content .about-container .about-img {
    width: 80px;
    height: 80px;
}
.scroll .sections .content .dci-logo .dci-img,
.scroll .sections .content .about-container .about-img {
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px #00000000;
    transition-duration: 0.3s;
    transition-property: transform;
}
.scroll .sections .content .dci-logo .dci-img:hover,
.scroll .sections .content .dci-logo .dci-img:focus,
.scroll .sections .content .dci-logo .dci-img:active,
.scroll .sections .content .about-container .about-img:hover,
.scroll .sections .content .about-container .about-img:focus,
.scroll .sections .content .about-container .about-img:active {
    transform: scale(1.1);
}

/* "Portfolio" section */
.scroll .sections .content .portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}
.scroll .sections .content .portfolio-container img {
    margin: 20px;
    width: 600px;

    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px #00000000;
    transition-duration: 0.3s;
    transition-property: transform;
}
.scroll .sections .content .portfolio-container img:hover,
.scroll .sections .content .portfolio-container img:focus,
.scroll .sections .content .portfolio-container img:active {
    transform: scale(1.1);
    content: '';
    opacity: 1;
    display: inline-block;
    z-index: 999;
}

/* Scroll effect from "Home" to "Contact" */
.scroll #rd_about:checked ~ .sections {
    margin-top: -100vh;
}
.scroll #rd_portfolio:checked ~ .sections {
    margin-top: -200vh;
}
.scroll #rd_cv:checked ~ .sections {
    margin-top: -300vh;
}
.scroll #rd_contact:checked ~ .sections {
    margin-top: -400vh;
}
.scroll .sections #home {
    background-color: #2f2b2b;
}
.scroll .sections #about {
    background-color: #247AFD;
}
.scroll .sections #portfolio {
    background-color: #6D5ACF;
}
.scroll .sections #cv {
    background-color: #aaaaaa;
}
.scroll .sections #contact {
    background-color: #31859C;
}

/* GitHub logo on Footer */
footer {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}