* {
    margin: 0;
    padding: 0;
}

.links {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links label {
    max-width: 10%;
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #fff;
    user-select: none;
}
.links label:hover {
    background-color: rgba(255,255,255,.2);
}

.scroll {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.scroll input {
    display: none;
}

.scroll .sections {
    transition:  all .4s;
}

.scroll .sections .content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll #rd_about:checked ~ .sections {
    margin-top: -100vh;
}
.scroll #rd_portfolio:checked ~ .sections {
    margin-top: -200vh;
}
.scroll #rd_cv:checked ~ .sections {
    margin-top: -300vh;
}
.scroll #rd_angular:checked ~ .sections {
    margin-top: -400vh;
}

.scroll .sections #home {
    background-color: rgb(47, 43, 43);
}
.scroll .sections #about {
    background-color: #69f;
}
.scroll .sections #portfolio {
    background-color: #faa;
}
.scroll .sections #cv {
    background-color: #aaa;
}
.scroll .sections #angular {
    background-color: #414950;
}